.list {
  width: 50%;
  display: flex;
  justify-content: center;
  margin-bottom: 25px;
}

.button {
  border: black solid 2px;
  width: 83%;
  height: 47px;
  border-radius: 25px;
  background-color: white;
  font-size: 0.9rem;
  font-weight: 600;
  letter-spacing: 1px;
}

.buttonOpp {
  border: black solid 2px;
  width: 83%;
  height: 47px;
  border-radius: 25px;
  background-color: black;
  color: white;
  font-size: 0.9rem;
  font-weight: 600;
  letter-spacing: 1px;
}

.divTag {
  margin-top: 19px;
  display: flex;
  justify-content: center;
}

.div {
  display: flex;
  justify-content: center;
}

.para {
 padding-left: 10px;
  margin: 0 0 3px;
}

.head3 {
  padding-left: 10px;
  margin: 0;
}

.head4 {
 padding-left: 10px;
  margin: 0;
}

.img {
  height: 24vh;
  width: 90%;
  border-radius: 6px;
  margin-bottom: 15px;
}
