.div {
  width: 100%;
  display: flex;
  background-color: #feb3a1;
  justify-content: space-between;
  height: 55px;
  align-items: center;
  position: fixed;
  top: 0px;
  padding: 0 25px;
  z-index: 1;
}

.title {
  font-weight: 700;
  font-size: 1.08rem;
}

.h2 {
  margin: 0 0 5px;
  font-size: 1.2rem;
}

.ul {
  margin: 0 0 10px;
  list-style-type: none;
  padding: 0;
}

.p {
  margin: 0;
  font-size: 1.1rem;
}

.li {
  font-size: 1.1rem;
}
